@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if(User.Identity.IsAuthenticated){
    @if (User.IsInRole("User"))
    {
        <h3>Your role is hgj</h3>
    }
    @if(User.IsInRole("Admin"))
    {
         <h3>Your role is Admin</h3>
    }
    @if(User.IsInRole("SuperAdmin"))
    {
        <h3>Your role is SuperAdmin</h3>
    }
}
<form method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
 <input type="hidden" name="data" value="eyJwdWJsaWNfa2V5IjoiaTAwMDAwMDAwIiwidmVyc2lvbiI6IjMiLCJhY3Rpb24iOiJwYXkiLCJhbW91bnQiOiIzIiwiY3VycmVuY3kiOiJVQUgiLCJkZXNjcmlwdGlvbiI6InRlc3QiLCJvcmRlcl9pZCI6IjAwMDAwMSJ9"/>
 <input type="hidden" name="signature" value="wR+UZDC4jjeL/qUOvIsofIWpZh8="/>
 <input type="image" src="//static.liqpay.ua/buttons/p1ru.radius.png"/>
</form>