<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOKHOV_SHOP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/basic_css.css">
    <script src="js/basik.js"></script>
    
</head>
<body>
    <div class="wrapper" >
        <header>
            <div class="my_nav">
                <div class="nav_left">
                    <ul>
                        <li><a href="#" class="underline-one">Жіноче</a></li>
                        <li><a href="#" class="underline-one">Чоловіче</a></li>
                        <li><a href="#" class="underline-one">Дитяче</a></li>

                    </ul>
                </div>
                <div class="nav_logo">
                   <a href="#"><h1>SHOKHOV_SHOP</h1></a>
                </div>
                <div class="nav_right">
                    <ul>
                        <li><a href="#" class="underline-one">Вхід</a></li>
                        <li><a href="#" class="underline-one">Корзина</a></li>
                    </ul>
                </div>
                <div>


                    <img src="img/languadge.png" alt="ava_hand_no_foto.png" id="click_img1" style="position: absolute; margin: 25px 0 0 1152px;">

                    <div id="blockImg1">

                    <div><a href="#"><img class="click_img1" id="src" src="img/languadge.png" ></a></div>

                    <div><a href="#"><img class="click_img1" id="src1" src="img/uk.png"></a></div>

                    </div>

   
                </div>
            </div>
            
        </header>
        <main>
            <div class="context">
                
            </div>
        </main>
        <footer>
            <div class="my_footer">
                <ul>
                    <li>© 2022 DSHOKHOV_SHOP</li>
                    <li>Все права защищены</li>
                    <li>Политика конфиденциальности и файлов cookie</li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>