@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - shokhov_shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/basic_css.css" asp-append-version="true">
    <script src="~/js/basik.js"></script>
</head>
<body>
    <div class="wrapper" >
        <header>
            <div class="my_nav">
                <div class="nav_left">
                    <ul>
                        <li><a asp-controller="Category" asp-action="Woman" class="underline-one">Жіноче</a></li>
                        <li><a asp-controller="Category" asp-action="Man" class="underline-one">Чоловіче</a></li>
                        <li><a asp-controller="Category" asp-action="Child" class="underline-one">Дитяче</a></li>
                        <li><div class="image-container">
                            <img src="~/img/search.png" alt="Image" style="width: 14px; height:14px;">
                            <div class="form-container">
                              <form asp-action="Search" asp-controller="Offers" method="post">
                                <input type="text" id="input-field">
                                <button type="submit">Send</button>
                              </form>
                            </div>
                          </div>
                        <script>const imageContainer = document.querySelector('.image-container');
                            const formContainer = document.querySelector('.form-container');
                            
                            imageContainer.addEventListener('click', () => {
                              formContainer.style.display = 'block';
                            });</script></li>
                    </ul>
                </div>
                <div class="nav_logo">
                   <a asp-controller="Category" asp-action="Woman"><h1>SHOKHOV_SHOP</h1></a>
                </div>
                <div class="nav_right">
                    <ul>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li>
                                <a class="underline-one" href="#">Hello @UserManager.GetUserName(User)</a>
                            </li>
                            <li>
                                <form id="logoutForm" method="post" asp-controller="Account" asp-action="LogOff">

                                    <button type="submit" style="all: unset;" ><a class="underline-one">Logout</a></button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li><a asp-action="Login" asp-controller="Account" class="underline-one">Вхід</a></li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            

                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                            {
                                <li><a asp-controller="Orders" asp-action="Check_Order" class="underline-one">Замовлення</a></li>
                                <li><a asp-action="ChatHistory" asp-controller="Support" class="underline-one">Повідомлення</a></li>   
                            }
                            else
                            {
                                <li><a asp-controller="Orders" asp-action="Index" class="underline-one">Корзина</a></li>
                                <li><a asp-action="SendMessage" asp-controller="Support" class="underline-one">Підтримка</a></li>
                            }

                        }
                        else
                        {
                                <li><a asp-controller="Orders" asp-action="Error_Order" class="underline-one">Корзина</a></li>
                                <li><a asp-action="SendMessage" asp-controller="Support" class="underline-one">Підтримка</a></li>
                        }

                    </ul>
                </div>
                <div>


                    <img src="~/img/languadge.png" alt="ava_hand_no_foto.png" id="click_img1" style="position: absolute; margin: 30px 0 0 1186px;">

                    <div id="blockImg1">

                    <div><a href="#"><img class="click_img1" id="src" src="~/img/languadge.png" ></a></div>

                    <div><a href="#"><img class="click_img1" id="src1" src="~/img/uk.png"></a></div>

                    </div>

   
                </div>
            </div>
            
        </header>

        <main>
            <div class="context">
                @RenderBody()
            </div>
        </main>
        <footer>
            <div class="my_footer">
                <ul>
                    <li>© 2022 DSHOKHOV_SHOP</li>
                    <li>Все права защищены</li>
                    <li>Политика конфиденциальности и файлов cookie</li>
                </ul>
            </div>
        </footer>

    </div>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
