*{
    margin: 0;
    padding: 0;
}

body{
    width: 1200px;
    margin: 0 auto;
}
/* Start style header basic */
header a{
    color: #000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-decoration: none;

    height: 64px;
}
.underline-one {
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #000; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
header::after{
    display: block;
    clear: both;
    content: '';
}
header h1{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #989898;
    
    
}
header li {
    display: inline-block;
    margin-left: 34px;
}
.nav_left{
    display: inline-block;
    position: absolute;
    margin-top: 25px;
}
.nav_logo{
    display: inline-block;
    margin-left: 453px;
    margin-top: 21px;
    position: absolute;
}
.nav_right{
    display: inline-block;
    position: absolute;
    margin-left: 964px;
    margin-top: 25px;
}
.my_nav{
    position: relative;
    height: 64px;
}


#blockImg1{display:none;position:absolute;margin: 50px 0 0 1152px;}
#click_img1,.click_img1{cursor:pointer;}

/* End basik header */

/* Basik context */
.context{
    background-color: #fff;
}
.sales{
    width: 1002px;
    height: 418px;

    background: linear-gradient(270deg, #CCFF00 0%, #FE3B5B 100%);
    border-radius: 10px;
    margin: 41px 99px 41px 99px;
    position: relative;
}
.sales li {
    display: inline-block;
}
.li_first_sales{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 26px;
    /* or 65% */

    text-align: center;
    letter-spacing: 0.3px;

    color: #FFFFFF;

    width: 500px;
    margin: 121px 250px 0 250px;
}
.li_second_sales{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    text-align: center;
    letter-spacing: 0.3px;

    color: #FFFFFF;

    width: 253px;
    margin: 39px 375px 0px 375px;
}
.li_third_sales{
    width: 247px;
    height: 30px;

    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    padding-top: 8px;
}
.li_third_sales_a{
    text-align: center;
    letter-spacing: 0.3px;
    text-decoration: none;
    color: #000;

}
.li_third_sales_div{
    margin: 39px 378px 0 378px;
}
.categories{
    border-spacing: 2px;
}
.categories td{
    width: 399px;
    height: 517px;
}
.category_new{
    width: 799px;
    height: 179px;
    padding-top: 338px;
}
.category_new:hover {
    background-color: rgba(0,0,0,0.2);
}
.category_new h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */


    color: #FFFFFF;


    margin-bottom: 17px;
    margin-left: 56px;
}
.category{
    width: 399px;
    height: 179px;
    padding-top: 338px;
}
.category:hover {
    background-color: rgba(0,0,0,0.2);
    
}
.categories a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* or 154% */

    letter-spacing: 0.3px;

    color: #FFFFFF;
    margin-left: 56px;
}
.category h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    /* or 126% */


    color: #FFFFFF;
    margin-left: 56px;
}
/*End basik context*/



/* basik footer*/

.my_footer{
    width: 1200px;
    height: 41px;
    border-top: #000 1px solid;
    color: #ADAFB2;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;

    margin-top: 21px;
}
.my_footer li {
    display: inline-block;
    margin-right: 11px;
    margin-top: 14px;
}