
<link rel="stylesheet" href="~/css/login.css">
<div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">    
    <div class="signup">
        <form asp-controller="Category" asp-action="Woman">
            <label style="font-size:27px;" for="chk" aria-hidden="true">Вам було відправлено повідомлення на електрону пошту, де ви при переході за посиланням зможете змінити пароль.</label>

            <button class="but" type="submit">Повернутися назад</button>

        
             
        </form>
        
    </div>
</div>