@using shokhov_shop.ViewModels
@model ForgotPasswordViewModel

<link rel="stylesheet" href="~/css/login.css">
<div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">    
    <div class="signup">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">

            <label for="chk" aria-hidden="true">Змінити пароль</label>
            <input type="text" style="height:40px;" asp-for="Email" placeholder="Email" required="">
            <span asp-validation-for="Email" class="text-danger"></span>

            <button class="but" type="submit">Відправити</button>

        
             
        </form>
        
    </div>
    <div class="login">
        <form>
            <label for="chk" aria-hidden="true"><a style="text-decoration:none" asp-controller="Account" asp-action="Login">Назад</a></label>
            
        </form>
    </div>
</div>