
<link rel="stylesheet" href="~/css/login.css">
<div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">    
    <div class="signup">
        <form asp-controller="Category" asp-action="Woman">
            <label style="font-size:27px;" for="chk" aria-hidden="true">Ваш пароль було успішно змінено, запишіть його щоб не забути.</label>

            <button class="but" type="submit">Повернутися на головну</button>

        
             
        </form>
        
    </div>
</div>