@using shokhov_shop.ViewModels
@model ResetPasswordViewModel



<link rel="stylesheet" href="~/css/login.css">
<div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">    
    <div class="signup">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" role="form">

               
                <label for="chk" aria-hidden="true">Зміна паролю</label>
                 <div asp-validation-summary="All" class="text-danger" />
                <input asp-for="Code" hidden />
                <input asp-for="Email" type="text" readonly value="@ViewData["Email"]" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password"  placeholder="Password" required="">
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="ConfirmPassword" placeholder="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <button class="but" type="submit">Змінити</button>
        </form>
        
    </div>
    <div class="login" style="transform: translateY(75px);">
        <form>
            <label for="chk" aria-hidden="true"><a style="text-decoration:none" asp-controller="Account" asp-action="Login">Назад</a></label>
            
        </form>
    </div>
</div>